
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/images/Home.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper"  style="font-size: 15px;">LATEST TECHNOLOGY PRODUCTS</span>
                    <span class="section-heading-lower">DEFINITELY WORTH IT TO TRY</span>
                </h2>
                <p class="mb-3">
                    Best Experiences.
                    Only at Apple. - We Guarantee!
                </p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!"  style="font-size: 20px;">Contact Us!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta"style="background-color: #341e16;" >
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto" >
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper"  style="font-size: 15px;">Our Promise</span>
                        <span class="section-heading-lower"  style="font-size: 20px;">To You</span>
                    </h2>
                    <p class="mb-0"  style="font-size: 15px;">
                        Just before you enter our store to start the day, a smiling, warm atmosphere and one of its quality products.
                        Please help us get it back for correction!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

