
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="section-heading mb-5" style="text-align:center; color:aliceblue " >
    <span class="section-heading-upper" style="font-size: 20px;">CONTACT US</span>
    <span class="section-heading-lower"style="font-size: 40px;">We're Open</span>
</h2>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                
                <br />
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex"style="font-size: 20px; color: white">
                        Sunday
                        <span class="ms-auto"style="font-size: 20px; color:white">Closed</span>
                    </li>
                    <li class="list-unstyled-item list-hours-item d-flex"style="font-size: 20px; color: white">
                        Monday
                        <span class="ms-auto"style="font-size: 20px; color: white">7:00 AM to 8:00 PM</span>
                    </li>
                    <li class="list-unstyled-item list-hours-item d-flex "style="font-size: 20px; color: white">
                        Tuesday
                        <span class="ms-auto"style="font-size: 20px; color: white">7:00 AM to 8:00 PM</span>
                    </li>
                    <li class="list-unstyled-item list-hours-item d-flex "style="font-size: 20px; color: white">
                        Wednesday
                        <span class="ms-auto"style="font-size: 20px; color: white">7:00 AM to 8:00 PM</span>
                    </li>
                    <li class="list-unstyled-item list-hours-item d-flex"style="font-size: 20px; color: white">
                        Thursday
                        <span class="ms-auto"style="font-size: 20px; color: white">7:00 AM to 8:00 PM</span>
                    </li>
                    <li class="list-unstyled-item list-hours-item d-flex today"style="font-size: 20px;">
                        Friday
                        <span class="ms-auto"style="font-size: 20px;">7:00 AM to 8:00 PM</span>
                    </li>
                    <li class="list-unstyled-item list-hours-item d-flex"style="font-size: 20px; color: white">
                        Saturday
                        <span class="ms-auto"style="font-size: 20px; color: white">9:00 AM to 5:00 PM</span>
                        <span class="ms-auto"style="font-size: 20px; color: white">9:00 AM to 5:00 PM</span>
                    </li>
                </ul>
                <p class="address mb-5">
                    <em>
                        <strong style="font-size: 15px;">1116 Orchard Street</strong>
                        <br>
                        Golden Valley, Minnesota
                    </em>
                </p>
                <p class="mb-0">
                    <small style="font-size: 15px;"><em>Call Anytime</em></small>
                    <br  style="font-size: 25px;">
                    (317) 585-8468
                </p>
                <br />
                
            </div>
        </div>
    </div>
</div>

