
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/Content/images/about.jpg" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper" style="font-size: 20px;">STRONG PARTS, STRONG PRODUCTS</span>
                                <span class="section-heading-lower"  style="font-size: 30px;">About Our Business</span>
                            </h2>
                            <p>
                                It is under my maintenance services by .. .. in 2010. We continue our way with the best to provide the best service. What we care most about is the time consuming.
                                Have no chance to forward it with us.
                                Go with us and let's find the most suitable products for you.
                                The taste of each of our products will be preserved.
                                on a gift we always came here.
                            </p>
                            <p class="mb-0"  style="font-size: 20px;">
                                Good news.
                                <em>lust</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Scripts/scripts.js"></script>

