
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="product-item">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-upper"  style="font-size: 15px;">IMAC</span>
                    <span class="section-heading-lower">Ready to accomplish great things.</span>
                </h2>
            </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/product1.jpg" alt="...">
        <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-size: 13px;">The 27-inch iMac is packed with powerful tools and apps that let you level up your ideas. It can easily handle any workload thanks to its super-fast processors and graphics technologies, huge memory and all-flash storage. And with a stunning 5K Retina display, along with advanced audio and video features, it takes everything you do to an extraordinary level.</p></div>
        </div>
    </div>
 <div class="product-item">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-upper"style="font-size: 15px;">IPHONE 13 PRO</span>
                    <span class="section-heading-lower">Pro. Active.</span>
                </h2>
            </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/product2.jpg" alt="...">
        <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-size: 13px;">A dramatically more powerful camera system. A super fluid screen that immerses you in every interaction. The world's fastest smartphone chip. Exceptional endurance. A big improvement in battery life.</p></div>
        </div>
    </div>
 <div class="product-item">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-upper"style="font-size: 15px;">IPAD</span>
                    <span class="section-heading-lower">BOTH IPAD AND TINY</span>
                </h2>
            </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/product3.jpg" alt="...">
        <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0"style="font-size: 13px;">
    New full screen design.
    Powerful A15 Bionic chip.
    Apple Pencil support.
    Four gorgeous colors.
    A device like no other.
</p></div>
        </div>
    </div>
 <div class="product-item">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-upper"style="font-size: 20px;">MACBOOK PRO</span>
                    <span class="section-heading-lower">A super powerful Pro.</span>
                </h2>
            </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/product4.jpg" alt="...">
        <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0"style="font-size: 13px;">Introducing the most powerful MacBook Pro ever. The first Apple chips designed for professionals: the lightning-fast M1 Pro or M1 Max. A groundbreaking performance. An amazing battery life. Eye-catching Liquid Retina XDR display. The best camera and audio technology in Mac laptops. And all the ports you need. The first of its kind, this MacBook Pro is a real beast.</p></div>
        </div>
    </div> 
<div class="product-item">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-upper"style="font-size: 20px;">WATCH SE</span>
                    <span class="section-heading-lower">Many surprising features.</span>
                </h2>
            </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/product5.jpg" alt="...">
        <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0"style="font-size: 13px;">
    Stay connected with its powerful features, be active, healthy and
    feel safe. With its advanced sensors, you can track all your movements.
    track and measure your favorite workouts. Apple Watch SE
    It will surprise you with its abilities, as well as its price.
    The perfect fitness companion.
    The indisputable fact: Water resistant.
    to your limits
    challenging workouts.
</p></div>
        </div>
    </div>
<div class="product-item">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-upper"style="font-size: 20px;">AIRPODS</span>
                    <span class="section-heading-lower">The new generation of magic.</span>
                </h2>
            </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/product6.jpg" alt="...">
        <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-size: 13px;">
    Spatial sound that surrounds you, Adaptive EQ that adjusts music to the shape of your ear, super-fast charging and longer battery life. It ignores sweat and water and offers a truly magical experience and a truly magical experience.
</p></div>
        </div>
    </div>

